* {
    margin: 0;
    padding: 0;
}

.move-me {
    width: 100%;
    height: 100px;
    background-color: blue;
    position: -webkit-sticky; /* For Safari support. Probably supported now*/
    position: sticky;
    top: 100px;
}

.section-1 {
    width: 100;
    height: 400px;
    background-color: #ccc;
}

.section-2 {
    width: 50%;
    height: 1400px;
    background-color: #aaa;
    position: relative;
}
