/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* MY CODE */

* {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    margin: 0 auto;
    display: block;
    width: fit-content; /* necessary for centering */
}

header nav ul li{
    float: left;
    padding: 0 16px;
}

header nav ul li a{
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}

header .header-cases {
    display: none;
}

@media only screen and (min-width: 1000px) {
    header .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
    }

    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    
    header nav ul li a{
        line-height: 60px;
    }

    .header-cases {
        display: block;
        font-family: Catamaran;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
}

/*INDEX*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* there is an issue with the image here as it doesn't extend fully */
    display: table;
}

/* This and display:table above is a trick to center the text vertically in the div. Maybe there is a better way as this feels a bit hacky?*/
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff; 
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-family: Cormorant Garamond;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff; 
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

.index-links div h3 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111; 
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .index-banner {
        height: 450px;
    }

    .index-banner h1 {
        display: block;
        width: 560px;
        margin: 0 auto;
    }

    .index-links {
       overflow: hidden;
    }

    .index-links div {
        margin: 20px 10px 0;
        height: 230px;
        background-color: #f2f2f2;
        float: left;
    }

    .index-boxlink-square {
        width: calc(25% - 20px) !important; /* overrides the previous styling*/
    }

    .index-boxlink-rectangle {
        width: calc(50% - 20px) !important; /* overrides the previous styling*/
    }

    .index-links div h3 {
        line-height: 230px;
    }
}

/* CASES */

.cases-links {
    overflow: hidden;
    margin-bottom: 20px;
}

.cases-links h2 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
}

.cases-links .wrapper div {
    float: left;
    width: 230px;
    height: 230px;
    margin: 20px 10px 0px;
    background-color: #e3e3e3;
}

.cases-links .wrapper p {
    padding-top: 45%;
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 600;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

/* CASE */

.case-vid h2 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

.case-vid video {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}

.case-vid article h3 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    padding-bottom: 20px;
}

/* Should really be styled separately to reduce all this code duplication as mentioned in the video. */
.case-vid article p {
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #111;
    text-transform: uppercase;
    column-count: 3;
    column-gap: 30px;
}

/* GALLERY */
.gallery-links-h2 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
} 

.gallery-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-img {
    flex-basis: 300px;
    margin: 10px;
}

.gallery-img img {
    width: 100%;
}

@media only screen and (min-width: 762px) {
    .gallery-links-h2 {
        font-size: 28px;
    }

    .gallery-img {
        flex-basis: 300px;
    }
}


/* FOOTER */

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden; /*trick so that the footer does not overflow on content*/
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}


footer ul li {
    display: block;
    list-style: none;
}


footer ul li a {
    font-family: Catamaran;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
}

.footer-links-cases {
    display: none;
}

.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
    .footer-links-cases {
        display: block;
    }

    footer ul {
        padding-right: 30px;
    }

    footer ul li p {
        font-family: Catamaran;
        font-size: 16px;
        color: #fff;
        line-height: 40px;
        text-transform: uppercase;
    }
}