/* Quick hack to get rid of margin and padding. Typically this would be done by the reset styling.*/
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

.img-eye {
    width: 300px;
    height: 200px;
    background-image: url("img/eye.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
}

.img-eye:hover {
    background-position: 100%;
}